<%- include("partials/header") -%>

<section>

<div class="encomendas">
	<h3>Como fazer seu pedido:</h3>

<ul>
	<li>Entre em contato por DM no instagram <a href="">@suzylie.ceramica</a> ou pelo WhatsApp (67)9999-9999</li>
	<li> Mande modelos, cores, tamanhos como REFERENCIA</li>
	<li> ! importante ! Por ser um processo manual, as peças ficam prontas em 2 meses</li>
	
	
</ul>
</div>

<div class="encomendas2">
	<h3>Peças pronta entrega</h3>

<ul>
	<li>Temos algumas peças disponíveis e elas estarão com valor na legenda na foto na aba <a href="/pecas">peças</a> </li>
</div>



	
	
	
</ul>

	
</section>