<%- include("partials/header") -%>


	<div class="topdiv">

	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  		<ol class="carousel-indicators">
    		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    		
    	</ol>

 	 	<div class="carousel-inner">
    		<div class="carousel-item active">

            <div class="grid-container">
              <img class="carImg firstpic" src="images/bowl1.jpg" alt="First slide" >
              <img class="carImg secpic" src="images/bowl3.jpeg" alt="First slide" >
              <img class="carImg thirdpic" src="images/bowll.jpeg" alt="First slide" >
            </div>
      			
      			
    		</div>
    		<div class="carousel-item">
      			<div class="grid-container">
              <img class="carImg firstpic" src="images/xic1.jpeg" alt="First slide" >
              <img class="carImg secpic" src="images/cup.jpg" alt="First slide" >
              <img class="carImg thirdpic" src="images/coffee.jpeg" alt="First slide" >
            </div>
      			
    		</div>
    	
    	</div>

	<a id="carouselbtn" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
   					 <span class="sr-only">Previous</span>
 			 </a>
  			<a id="carouselbtn" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    				<span class="carousel-control-next-icon" aria-hidden="true"></span>
   					 <span class="sr-only">Next</span>
  			</a>
	</div>
	</div>

<div id="sobre">
  
</div>



  <div  class="meddiv">
    <h3> A ceramista</h3>
    <div class="grid-meddiv">
    <img src="images/suzy.png">
    <p>Formada em Artes Visuais na Universidade Federal de Mato Grosso do Sul em 2014, Suzy Kanezaki teve seu primeiro contato com a cerâmica durante a graduação. Mas foi somente no ano de 2017, em uma temporada no Japão como bolsista em um centro cultural na província de Yamaguchi, que suas habilidades com a cerâmica foram desenvolvidas através de aulas nesse centro e também convivendo com uma família local de ceramistas. Foram 7 meses de muito aprendizado e prática quase diária que fez com que Suzy continuasse com a cerâmica quando voltou ao Brasil. Hoje grande parte das peças que produz são utilitários de vários estilo e encomendas. Seu trabalho é 100% manual, utilizando o torno e realizando pinturas e desenhos a mão.  </p>
    
    </pre></p>
    
    </div>
    
  </div>

	

	<hr>


	<div id="contato" class="botdiv">
		<h1>Contato</h1>
		<p class="pcontato"><a href="https://www.instagram.com/suzylie.ceramica/">instagram</a> </p>	
	</div>
	


	
<%- include("partials/footer") -%>