<%- include("partials/header") -%>


	<div class="topdiv">
	<!-- <img class= "logoadd" width = '400' height="400" src="/images/circulolie.svg" alt=""> -->
	<h1 id="h1titulo"> Suzy<span><img class="xic" src="images/xicara.png" alt="xicara"></span>Kanezaki</h1>
	<h3 class="subtitulo"> cerâmica</h3>
	<p class="p1"><em>Cerâmicas artesanais de alta temperatura (1200‘C)</em><br>Espaço para exposição, vendas e <a href="encomendas.html">encomendas</a> de cerâmica</p>
	</div>
	

	<div class="meddiv">
		<h3>Sobre a ceramista</h3>
		<img src="images/suzy.png">
		<p>Artista visual. <a href="https://www.ufms.br/">UFMS</a></p>
		<p>Bolsista <a href="https://www.facebook.com/yamaguchi.kenjinaki">Yamaguchi Kenjinkai</a></p>
	
	</div>
	<hr>


	<div class="botdiv">
		<h3>Contato</h3>
		<p class="pcontato"><a href="https://www.instagram.com/suzylie.ceramica/">instagram</a> </p>	

	</div>
	


	
<%- include("partials/footer") -%>