<%- include("partials/header") -%>

<section class="flex">
 		<%  posts.forEach(function(post){ %>

 			
			<div>
				<% if(post.media_type === "VIDEO") { %>
					<img src="<%= post.thumbnail_url %>" alt=""> 
				<% } else { %>
					<img src="<%= post.media_url %>" alt=""> 
				<% } %>
 				
    			<p><%=post.caption%></p>

 			</div>


 			
 				
 			
    	<% }) %>
 </section>


    









