/**{
	border:solid red;
}*/

#cabeca{
	margin: 0;
	padding: 0;
	background: white;
	width: 100vw;
	height: 25vh;
	position: fixed;
	z-index: 1;
}

#cabeca.cabeca-changed {
	height: 15vh;
	
}

.cabeca-changed img{
	max-width:100px;
 	max-height:100px;
  	width: auto;
  	height: auto;
  	left: 670px;
  	transition: ease-in-out 0.5s;
}

.cabeca-changed nav{
	top:100px;
	transition-delay: 0.35s;
}

.imglogo{
	position: fixed;
	z-index: 2;
	left: 630px;
	top: 14px;
	max-width:170px;
 	max-height:170px;
  	width: auto;
  	height: auto;
  	
  	/*overflow: hidden;*/
}

.topdiv {
	background-color:#CBC6C3;
	padding: 0;
	text-align: center;
	width: 75vw;
	height: auto;
	margin: 0 auto;
	position: relative;
	top: 230px;
	}


.meddiv{text-align: center;
		width: 100%;
		background:  #836E40;
		margin: 200px auto 100px auto;
		line-height: 2;
	}

.botdiv{text-align: center;
		width: 50%;
		margin: 100px auto 100px auto;
		background: white;
	}

.finaldiv {background-color:white;
			text-align: center;
			padding: 20px 0 20px;}



.mynav {
	background-color: white;
	position: fixed;
	top: 160px;
	z-index: 1;
	width: 100%;
	height: auto;
	padding: 5px 0 0 0;
	margin: 0;
	/*padding-top: -200px;*/

}

/*.titulo{
	max-width: 100%;
	width: initial;
	background-image: url("../images/bg6.png");
	background-repeat: no-repeat; 
	background-size: 40%;
	background-position: center;
	font-family: 'Indie Flower', cursive;
	color: #836E40;
	font-size: 40px;
	position: absolute;
	left: 500px;
	top: 20px;
	z-index: 2;
	padding: 30px 100px;
	
}*/

.navbar button {
	background-color: #CBC6C3;
	color: #836E40;
	outline: none;
}

.navbar ul{
	margin-left: 450px;

}


.navbar li {
	color: #836E40;
	font-family: 'Open Sans', sans-serif;
	margin-left: 20px;
	font-size: 20px;
}

.subtitulo {
	font-family: 'Open Sans', sans-serif;
	 color: #C68C31;
	 font-size: 15px;
	 letter-spacing: 3px;
	 position: relative;
	 left: 250px;
	 top: 15px;
	 text-decoration: none;
}


.carousel img {
	display: inline-flex;
  	max-width:1000px;
 	max-height:60vh;
  	width: auto;
  	height: auto;
  	margin: 20px;
  	/*padding:35px 0 0 0;*/
}

#carouselbtn {
	background-color: #836E40;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	margin: 0 -50px;
	position: absolute;
	top: 260px;
}

.carousel-indicators {
	position: absolute;
	z-index: 0;
}


a{
	color: #836E40;
	text-decoration: none;}

a:hover{ color: #C68C31;
		text-decoration: none; }


body {background-color: white;
	  margin:0;
	  font-size: 1.5em;
		color: #836E40;
		width: 100vw;
		height: 100vh;}

hr {border: dotted #C68C31 6px;
	border-bottom: none;
	width: 4%;
	margin: 100px auto;}

h1 {color: #836E40;
	margin-top: 0;
	font-family: 'Shadows Into Light', cursive;
	font-size: 50px;}

h3 {color: #836E40;
	font-family: 'Shadows Into Light', cursive;
	font-size: 2rem;
	letter-spacing: 0.5rem;}

p{font-family: 'Open Sans', sans-serif;}

table{font-family: 'Open Sans', sans-serif;}
form {font-family: 'Open Sans', sans-serif;}

.pcontato{display: inline-block;
		line-height: 2;}

#h1titulo {color: #836E40;
		margin-top: 0;
		margin-left: 85px;
		font-family: 'Shadows Into Light', cursive;
		font-size: 7rem;
		letter-spacing: 1rem;
		font-weight: normal;
		padding-top: 100px;}


.p1 {position: relative;
	bottom: 10px;
	line-height: 2;
	padding-bottom: 50px;
	padding-top: 90px;
	font-size: 1.5rem;}

.copyright {color: #C68C31;
			font-size: 0,50rem;
			padding: 20px 0 0;}

.btn {
   background: #836E40;
   background-image: -webkit-linear-gradient(top, #836E40, #4A3A19);
   background-image: -moz-linear-gradient(top, #836E40, #4A3A19);
   background-image: -ms-linear-gradient(top, #836E40, #4A3A19);
   background-image: -o-linear-gradient(top, #836E40, #4A3A19);
   background-image: -webkit-gradient(to bottom, #836E40, #4A3A19);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 1px;
   line-height: 1px;
   color: #F8EFDD;
   font-family: Open Sans;
   width: 94px;
   font-size: 19px;
   font-weight: 100;
   padding: 17px;
   border: solid #FFFFFF 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #836E40 1px;
   background: #836E40;
   background-image: -webkit-linear-gradient(top, #836E40, #CEAE68);
   background-image: -moz-linear-gradient(top, #836E40, #CEAE68);
   background-image: -ms-linear-gradient(top, #836E40, #CEAE68);
   background-image: -o-linear-gradient(top, #836E40, #CEAE68);
   background-image: -webkit-gradient(to bottom, #836E40, #CEAE68);
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   text-decoration: none;
}

@media(max-width: 1430px) {

	
	.carousel img {
	display: inline-flex;
  	max-width:600px;
 	max-height:550px;
  	width: 350px;
  	height: auto;
  	margin: 10px 0;
}

	.topdiv{
    	width: 90%;
    	padding-top: 20px;
    }

	#carouselbtn {
	margin: 0 30px;
	
}
}



@media (max-width: 767px) {
    #h1titulo {
        font-size: 3rem;
        text-align: center;
        position: relative;
        right: 15px;

    }

    .subtitulo {
        font-size: 20px;
        letter-spacing: 4px;
        position: relative;
        left:20px;
    }

    .p1 {
    	font-size: 1.2rem;
    }

    .topdiv{
    	width: 100%;
    	padding-top: 20px;
    }

	.carousel img {
	display: inline-flex;
  	max-width:270px;
 	max-height:600px;
  	width: auto;
  	height: auto;
  	margin: 10px 0;
}

	#carouselbtn {
	margin: 0 30px;
	
}

	.titulo{
	font-family: 'Indie Flower', cursive;
	color: #836E40;
	font-size: 40px;
	position: relative;
	left: 150px;
	top: 70px;
	display: inline;
	top: 30px;
	padding: 50px 0 10px 0;
	
}

	.navbar ul{
	margin: 30px 0 0 10px;
}


}




